# for all subdirectories
*~
Makefile.in
Makefile
.deps
*.o
*.pc
*.gir
*.typelib
*.trs
*.log

# gcov
*.gcda
*.gcno

# autofoo stuff here
/m4/
/config.*
/configure
/autom4te.cache
/aclocal.m4
/stamp-h1
/dconf-lcov.info
/lcov-html
/compile
/depcomp
/install-sh
/missing

# autopoint stuff here
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
