# for all subdirectories
Makefile.in
Makefile
.deps
*.o
*.pc
*.gir
*.typelib
*.trs
*.log

# gcov
*.gcda
*.gcno

# autofoo stuff here
/m4/
/aux/
/libtool
/config.*
/configure
/autom4te.cache
/aclocal.m4
/stamp-h1
/dconf-lcov.info
/lcov-html
