/*
  This file is part of Dconf Editor

  Dconf Editor is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Dconf Editor is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Dconf Editor.  If not, see <http://www.gnu.org/licenses/>.
*/

/*\
* * hamburger menu
\*/

/* egtk */
window > popover.menu {
  background:inherit;
}

/*\
* * rows height and icon
\*/

/* row height */
.dconf-list > row {
  transition:min-height 0.3s;
}
            .dconf-list > row { min-height:2.6rem; }
.small-rows .dconf-list > row { min-height:1.3rem; }

/* folder icon */
.dconf-list > row > .folder > grid {
  background-image:-gtk-icontheme("folder-symbolic");
  background-repeat:no-repeat;

  transition:background-position 0.3s,
             background-size 0.3s,
             padding-left 0.3s,
             padding-right 0.3s; /* warning: ltr/rtl */
}

.dconf-list > row:active > .folder > grid {
  background-image:-gtk-icontheme("folder-open-symbolic");
}

/* visual padding: 0.75rem */
                         .dconf-list:dir(ltr) > row > .folder > grid { background-position:0.75rem              center; }
                         .dconf-list:dir(rtl) > row > .folder > grid { background-position:calc(100% - 0.75rem) center; }

/* icon sizing */
                         .dconf-list          > row > .folder > grid { background-size:1.5rem; }
             .small-rows .dconf-list          > row > .folder > grid { background-size:0.75rem; }

/* technical padding: (2 * visual padding) + icon size */
                         .dconf-list:dir(ltr) > row > .key    > grid { padding-left:  10px; } /* looks cool */
                         .dconf-list:dir(ltr) > row > .folder > grid { padding-left:  3rem; }
             .small-rows .dconf-list:dir(ltr) > row > .folder > grid { padding-left:  2.25rem; }
                         .dconf-list:dir(rtl) > row > .key    > grid { padding-right: 10px; }
                         .dconf-list:dir(rtl) > row > .folder > grid { padding-right: 3rem; }
             .small-rows .dconf-list:dir(rtl) > row > .folder > grid { padding-right: 2.25rem; }

/* technical labels placing */
                         .dconf-list          > row                   label.key-name { transition:min-width 0.3s; }
                         .dconf-list          > row > .key    > grid  label.key-name { min-width:     222px; }
                         .dconf-list          > row > .folder > grid  label.key-name { min-width:calc(222px + 10px - 3rem); }
             .small-rows .dconf-list          > row > .folder > grid  label.key-name { min-width:calc(222px + 10px - 2.25rem); }

.large-window            .dconf-list          > row > .key    > grid  label.key-name { min-width:     250px; }
.large-window            .dconf-list          > row > .folder > grid  label.key-name { min-width:calc(250px + 10px - 3rem); }
.large-window.small-rows .dconf-list          > row > .folder > grid  label.key-name { min-width:calc(250px + 10px - 2.25rem); }

                         .dconf-list          > row > .key    > grid > grid          { min-width:400px; transition:min-width 0.3s; }
.large-window            .dconf-list          > row > .key    > grid > grid          { min-width:450px; }

/* grid spacing and padding-end */
                         .dconf-list:dir(ltr) > row  grid > label { padding-right: 0.5em; }
                         .dconf-list:dir(rtl) > row  grid > label { padding-left:  0.5em; }

/*\
* * pathbar
\*/

.root-button {
  background-image:-gtk-icontheme("dconf-editor-symbolic");
  background-position:center;
  background-size:1.1rem;
  background-repeat:no-repeat;
  min-width:1.1rem;
}

.pathbar {
  margin:0 2px;
}

.pathbar > label {
  color:alpha(currentColor,0.75);
}

.pathbar > button {
  padding-left:0.2em;
  padding-right:0.2em;
  margin-left:0.1em;
  margin-right:0.1em;

  border:none;
  border-color:transparent;
  box-shadow:none;
  background:none;
  background-color:transparent;
}

.pathbar > button > .item {
  border-width:2px 0px;
  border-style:solid;
  border-color:transparent;
}

.pathbar > button:hover > .item {
  border-bottom-color:#8b8e8f;  /* color mostly used for backdrop things */
}

.pathbar:dir(ltr) > button:last-child > .item,
.pathbar:dir(ltr) > button:last-child:hover > .item,
.pathbar:dir(ltr) > button:nth-last-child(2) > .item,
.pathbar:dir(ltr) > button:nth-last-child(2):hover > .item,
.pathbar:dir(rtl) > button:first-child > .item,
.pathbar:dir(rtl) > button:first-child:hover > .item,
.pathbar:dir(rtl) > button:nth-child(2) > .item,
.pathbar:dir(rtl) > button:nth-child(2):hover > .item {
  border-bottom-color: @theme_selected_bg_color;
}

/*\
* * properties list
\*/

/* cool list background and padding */
list.properties-list {
  background-color:initial;
  padding:0.3em 0;
}
list.properties-list > row {
  padding:0 6px; /* align on headerbar's buttons */
}

/* rows usual height */
list.properties-list > row > grid > label {
  min-height:1.5rem;
  padding-top:0.6rem;
  padding-bottom:0.6rem;
}

/* rows content placement */
list.properties-list > row > grid > :first-child {
  min-width:12.5rem;
}
list.properties-list:dir(ltr) > row > grid > label { padding-right:1em; }
list.properties-list:dir(rtl) > row > grid > label { padding-left:1em; }

/*\
* * text formating
\*/

.italic-label {
  font-style:italic;
}

.bold-label {
  font-weight:bold;
}

.greyed-label {
  color:@theme_fg_color;
}
.greyed-label:backdrop {
  color:@theme_unfocused_fg_color;
}
