/*
  This file is part of Dconf Editor

  Dconf Editor is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Dconf Editor is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Dconf Editor.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
  THEMES HACKERS, you've got a ".dconf-editor" CSS target on the window, as all
  the things could not be solved generically. But don't hesitate to file a bug.
*/

/*\
* * lists rows height and icon
\*/

/* row height */
                                                .keys-list          > row { transition:min-height 0.3s; } /* not for .bookmarks, as the transition will start at the popover opening */

                                                .keys-list          > row,
                                                .bookmarks     list > row { min-height:2.6rem; }
                          .small-keys-list-rows .keys-list          > row,
                          .small-bookmarks-rows .bookmarks     list > row { min-height:1.3rem; }

/* bookmarks */
                          .small-bookmarks-rows .bookmarks     list > row > grid > button.circular.flat {
                            min-height:0;
                            padding-bottom:1px;
                            padding-top:1px;
                            margin-top:-2px;
                            margin-bottom:-2px;
                          }

/* folder icon */
                                                .keys-list          > row        > .folder > grid {
                                                  background-repeat:no-repeat;
                                                  transition:background-position 0.3s,
                                                             background-size 0.3s,
                                                             padding-left 0.3s,
                                                             padding-right 0.3s; /* warning: ltr/rtl */
                                                }

                                                .keys-list          > row        > .folder > grid { background-image:-gtk-icontheme("folder-symbolic"); }
                                                .keys-list          > row:active > .folder > grid { background-image:-gtk-icontheme("folder-open-symbolic"); }

/*             .non-symbolic                      .keys-list          > row        > .folder > grid { background-image:-gtk-icontheme("folder"); }      */
/*             .non-symbolic                      .keys-list          > row:active > .folder > grid { background-image:-gtk-icontheme("folder-open"); } */

/* visual padding */
                                                .keys-list:dir(ltr) > row > .key    > grid { padding-left:  10px; } /* looks cool */
                                                .keys-list:dir(rtl) > row > .key    > grid { padding-right: 10px; }

                                                .keys-list:dir(ltr) > row > .folder > grid { background-position:            0.75rem  center; }
                                                .keys-list:dir(rtl) > row > .folder > grid { background-position:calc(100% - 0.75rem) center; }

/* icon sizing */
                                                .keys-list          > row > .folder > grid { background-size:1.5rem; }
/*             .non-symbolic                      .keys-list          > row > .folder > grid { background-size:1.75rem; } */
                          .small-keys-list-rows .keys-list          > row > .folder > grid,
/*             .non-symbolic.small-keys-list-rows .keys-list          > row > .folder > grid { background-size:1rem; }    */

/* technical padding: icon visual padding + icon size + some padding */
                                                .keys-list:dir(ltr) > row > .folder > grid { padding-left:  3rem; }
/*             .non-symbolic                      .keys-list:dir(ltr) > row > .folder > grid { padding-left:  3.25rem; }  */
                          .small-keys-list-rows .keys-list:dir(ltr) > row > .folder > grid,
/*             .non-symbolic.small-keys-list-rows .keys-list:dir(ltr) > row > .folder > grid { padding-left:  2.25rem; }  */

                                                .keys-list:dir(rtl) > row > .folder > grid { padding-right: 3rem; }
/*             .non-symbolic                      .keys-list:dir(rtl) > row > .folder > grid { padding-right: 3.25rem; }  */
                          .small-keys-list-rows .keys-list:dir(rtl) > row > .folder > grid,
/*             .non-symbolic.small-keys-list-rows .keys-list:dir(rtl) > row > .folder > grid { padding-right: 2.25rem; }  */

/* technical labels placing */
                                                .keys-list          > row                   label.key-name { transition:min-width 0.3s; }
                                                .keys-list          > row > .key    > grid  label.key-name { min-width:     222px; }
                                                .keys-list          > row > .folder > grid  label.key-name { min-width:calc(222px + 10px - 3rem); }
/*             .non-symbolic                      .keys-list          > row > .folder > grid  label.key-name { min-width:calc(222px + 10px - 3.25rem); } */
                          .small-keys-list-rows .keys-list          > row > .folder > grid  label.key-name,
/*             .non-symbolic.small-keys-list-rows .keys-list          > row > .folder > grid  label.key-name { min-width:calc(222px + 10px - 2.25rem); } */

.large-window                                   .keys-list          > row > .key    > grid  label.key-name { min-width:     250px; }
.large-window                                   .keys-list          > row > .folder > grid  label.key-name { min-width:calc(250px + 10px - 3rem); }
/*.large-window.non-symbolic                      .keys-list          > row > .folder > grid  label.key-name { min-width:calc(250px + 10px - 3.25rem); } */
.large-window             .small-keys-list-rows .keys-list          > row > .folder > grid  label.key-name,
/*.large-window.non-symbolic.small-keys-list-rows .keys-list          > row > .folder > grid  label.key-name { min-width:calc(250px + 10px - 2.25rem); } */

                                                .keys-list          > row > .key    > grid > grid          { min-width:400px; transition:min-width 0.3s; }
.large-window                                   .keys-list          > row > .key    > grid > grid          { min-width:450px; }
.large-window.xl                                .keys-list          > row > .key    > grid > grid          { min-width:474px; }
.large-window.xl.xxl                            .keys-list          > row > .key    > grid > grid          { min-width:500px; }

/* grid spacing and padding-end */
                                                .keys-list:dir(ltr) > row  grid > label { padding-right: 0.5em; }
                                                .keys-list:dir(rtl) > row  grid > label { padding-left:  0.5em; }

/* pending change icon */

                                                .keys-list          > row > .key         { transition:background-position 0.3s; }
                                                .keys-list          > row > .key.delayed { background-image:-gtk-icontheme("document-open-recent-symbolic"); background-repeat:no-repeat; }
                                                .keys-list          > row > .key.delayed.erase { background-image:-gtk-icontheme("user-trash-symbolic"); }

                                                .keys-list          > row > .key.delayed { background-size:16px; transition:background-size 0.3s; }
                          .small-keys-list-rows .keys-list          > row > .key.delayed { background-size:12px; }

                                                .keys-list:dir(ltr) > row > .key.delayed { padding-right: 28px; }
                                                .keys-list:dir(rtl) > row > .key.delayed { padding-left:  28px; }
                                                .keys-list:dir(ltr) > row > .key         { background-position:calc(100% - 16px) calc(1.3rem - 8px); }
                                                .keys-list:dir(rtl) > row > .key         { background-position:            16px  calc(1.3rem - 8px); }
                          .small-keys-list-rows .keys-list:dir(ltr) > row > .key         { background-position:calc(100% - 16px) calc(0.65rem - 5px); }
                          .small-keys-list-rows .keys-list:dir(rtl) > row > .key         { background-position:            16px  calc(0.65rem - 5px); }

/*\
* * pathbar
\*/

.root-button {
  background-image:-gtk-icontheme("dconf-editor-symbolic");
  background-position:center;
  background-size:1.1rem;
  background-repeat:no-repeat;
  min-width:1.1rem;
}

.pathbar {
  margin:0 4px;
}

.pathbar > label {
  padding-left:0.1em;
  padding-right:0.1em;
  color:alpha(currentColor,0.8);
}
.pathbar > label:backdrop {
  color:alpha(currentColor,0.9);
}

.pathbar > button {
  padding-left:0.1em;
  padding-right:0.1em;
  margin-left:0.1em;
  margin-right:0.1em;

  outline-offset:0;

  border:none;
  border-color:transparent;
  box-shadow:none;
  background:none;
  background-color:transparent;
  color:currentColor;
}

/* underline selected label */
.pathbar > button > .item {
  border-width:2px 0px;
  border-style:solid;
  border-color:transparent;
  transition:border-bottom-color 0.3s;
}

.pathbar > button:hover > .item {
  border-bottom-color:alpha(currentColor,0.5);
}

.pathbar          > button.active       > .item,
.pathbar          > button.active:hover > .item {
  border-bottom-color:@theme_selected_bg_color;
}

/*\
* * properties list
\*/

/* cool list background and padding */
list.properties-list {
  background-color:initial;
  padding:0.3em 0;
}
list.properties-list > row {    /* TODO what? */
  padding:0 6px; /* align on headerbar's buttons */
}

/* rows usual height */
list.properties-list > row > grid > label {
  min-height:1.5rem;
  padding-top:0.6rem;
  padding-bottom:0.6rem;
  transition:padding-top 0.3s, padding-bottom 0.3s;
}
.small-rows list.properties-list > row > grid > label {
  padding-top:0.3rem;
  padding-bottom:0.3rem;
}

/* rows content placement */
list.properties-list > row > grid > :first-child {
  min-width:12.5rem;
}
list.properties-list:dir(ltr) > row > grid > label { padding-right:1em; }
list.properties-list:dir(rtl) > row > grid > label { padding-left:1em; }

/*\
* * text formating
\*/

.italic-label {
  font-style:italic;
}

.bold-label {
  font-weight:bold;
}

.greyed-label {
  color:@theme_fg_color;
}
.greyed-label:backdrop {
  color:@theme_unfocused_fg_color;
}
