/*
  This file is part of Dconf Editor

  Dconf Editor is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Dconf Editor is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Dconf Editor.  If not, see <http://www.gnu.org/licenses/>.
*/

/*\
* * folder rows
\*/

.dconf-list > row > .folder > grid {
  background-image:-gtk-icontheme("folder-symbolic");
  background-size:24px;
  background-repeat:no-repeat;
}

.dconf-list:dir(ltr) > row > .folder > grid {
  padding-left:48px;
  background-position:12px center;
}
.dconf-list:dir(rtl) > row > .folder > grid {
  padding-right:48px;
  background-position:calc(100%-12px) center;
}

/*\
* * pathbar
\*/

.pathbar {
  margin-left:8px;
  margin-right:8px;
}

.pathbar > button {
  padding-left:0.2em;
  padding-right:0.2em;
  margin-left:0.1em;
  margin-right:0.1em;

  border:none;
  border-color:transparent;
  box-shadow:none;
  background:none;
  background-color:transparent;
}

.pathbar > button > .item {
  border-width:2px 0px;
  border-style:solid;
  border-color:transparent;
}

.pathbar > button:hover > .item {
  border-bottom-color:grey;
}

.pathbar:dir(ltr) > button:last-child > .item,
.pathbar:dir(ltr) > button:last-child:hover > .item,
.pathbar:dir(ltr) > button:nth-last-child(2) > .item,
.pathbar:dir(ltr) > button:nth-last-child(2):hover > .item,
.pathbar:dir(rtl) > button:first-child > .item,
.pathbar:dir(rtl) > button:first-child:hover > .item,
.pathbar:dir(rtl) > button:nth-child(2) > .item,
.pathbar:dir(rtl) > button:nth-child(2):hover > .item {
  border-bottom-color:blue;
}
