*-decl-list.txt
*-decl.txt
*-overrides.txt
*-unused.txt
*-undocumented.txt
*-undeclared.txt
*.args
*.hierarchy
*.interfaces
*.prerequisites
*.signals
*.stamp
html
xml
*.bak
version.xml
gtk-doc.make
dconf-editor.1
dconf-service.1
dconf.1
dconf.7
